body{background:#607891;font-family:Inter,system-ui;}
header{background:linear-gradient(90deg,#0d6efd,#3b82f6);}
.contact-section{border:1px solid #e5e7eb;}
.IMAGE{
    height: 400px;
    width: auto;
}.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #008080;
    color: white;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover,
.navbar a.active {
    text-decoration: underline;
}
#logo {
    margin-top: 40px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}.logo span {
    color: #ffcc00;
}a:hover{
 color: red;   
}.Frank {
 font-size: 30px;

}
footer{
    text-align: center;
}



